@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Mukta&display=swap');
*{
    padding:0px;
    margin: 5px;
}

.navbar{
    padding: 5vh;
    border: 2px solid black;
    padding-left: 4vh;
    padding-right: 4vh;
    
}
.background{
    background-color:rgb(93, 211, 128);
}

.navbar{
    background-color: rgba(40, 168, 68, 0.582);
    padding: 3vh;
    border: 2px solid black;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    
}

.navbar .links{
    display: inline;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
    text-align: center;
    float: right;
    border: 1.5px solid black;
    font-family:'Inter', sans-serif;
    background-color: darkgrey;
    
    }
    .logo{
    border: 3px solid crimson;
    padding: 5px;
    display: inline-block;
    text-align: center;
    border-radius: 70%;
    background: url(Venom_2.jpg)  no-repeat;
    background-size: 50px;
    width: 35px;
    height: 35px;
    }
    .header1{
        color: blue;
        font-family:'Inter', sans-serif;
    }
    .header2{
        color: rgb(6, 10, 248);
        font-family:'Inter', sans-serif;
    }
    .paragraph{
        font-family:'Inter', sans-serif;
        text-align: left;
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color:rgb(63, 192, 51);
        color: black;
    
        
      }
      .Copyright
      {
        font-family:'Inter', sans-serif;
      
          text-align: left;
          float: left;
          
          padding-top:  2vh;
      
          font-size: medium;
      
          border: 0.30vh solid black;
              padding: 1.5vh;
              border-radius: 2vh;
            
      }


